.header {
    .headerBG{
      background-color: #0D1A2B;
    }
    .logo img {
      height: 2rem; // Adjust as needed
    }
  
    .icon {
      font-size: 1.5rem; // Adjust as needed
    }
  
    .separator {
      height: 1.5rem; // Adjust as needed
      border-left: 1px solid white;
    }
  }