.hero {
    background: rgb(13,27,42);
    background: linear-gradient(111deg, rgba(13,27,42,1) 49%, rgba(33,65,99,1) 100%);
    background-size: cover, contain;
    background-position: center, right;
    height: 75vh; // Make the hero section full height
    position: relative;
    margin-top: 0; // Ensure it starts from the top
    transition: transform 0.1s ease-out; // Smooth transition for parallax effect

    .hero-image {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 50rem;
        height: 43rem;
        transition: transform 0.5s ease-out; // Smooth transition for parallax effect
    }

    .overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(13, 26, 43, 0.65); // Use rgba for opacity
    }

    .container {
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .underline {
        width: 30%;
        height: 4px;
        background-color: #FFC12C; // Highlight yellow color
        position: absolute;
        bottom: -4px;
        left: 2rem;
        transition: transform 0.5s ease-out; // Smooth transition for parallax effect

    }
}